.AliceBlue {
  background-color: AliceBlue;
}
.AntiqueWhite {
  background-color: AntiqueWhite;
}
.Aqua {
  background-color: aqua;
}
.Aquamarine {
  background-color: aquamarine;
}
.peru {
  background-color: peru;
}
.pink {
  background-color: pink;
}
.purple {
  background-color: purple;
}
.red {
  background-color: red;
}
.rosybrown {
  background-color: rosybrown;
}
.slateBlue {
  background-color: slateBlue;
}
.slateBlue {
  background-color: slateBlue;
}
.steelBlue {
  background-color: steelBlue;
}
.turquoise {
  background-color: turquoise;
}
.violet {
  background-color: violet;
}
.wheat {
  background-color: wheat;
}
.olive {
  background-color: olive;
}
