.Ball {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Ball:first-child {
  margin: auto;
  font-size: 1.4rem;
}

.green {
  background-color: green;
}

.goldenrod {
  background-color: goldenrod;
}

.red {
  background-color: red;
}

.green:first-child,
.goldenrod:first-child,
.red:first-child {
  color: black;
}

.black {
  background-color: black;
}

.black:first-child {
  color: white;
}
